* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    color: blak;
    font-size: 24px/16px;
    font-weight: 500;
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0 auto;
}

.header {
    height: 100vh;
}

a {
    text-decoration: none;
    transition: .4s;
    color: inherit;
}

ul li {
    list-style: none;
    text-decoration: none;
}

main {
    width: 1440px;
    margin: 0 auto;
    background: url("/uploads/sky.jpg") no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.header-list {
    display: flex;
}

.header-list-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-title {
    color: rgb(236, 17, 137);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    left: 0;
    margin-top: 350px;
    margin-bottom: 12px;
}

/*section*/

.services-container {
    margin-top: 140px 0px 100px 0px;
    display: flex;
    width: 1200px;
}

.services-headline {
    margin: 100px 0px 100px 200px;
    
}

.servis h2 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.services__block {
    position: relative;
}

.services-blocks {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin-top: 80px;
}


/*section*/

.banner-section {
    padding-top: 160px;
    position: relative;
}

.banner-section-container {
    display: flex;
    background: url('/uploads/services1.jpg') no-repeat scroll right 0 transparent;
    background-size: 26% 120% ;
    width: 100%;
}

.banner {
    width: 600px;
    height: 400px;
}

.banner-headline {
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
}

/*footer-section*/

footer {
    background-color: #231f20;
    color: white;
    display: block;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align:center;
}
